<p id="notice"><%= notice %></p>

<h1>Welcomes</h1>
<h2>Auth user <%= link_to "Go", controller: "user_auth", action: "new" %></h2>
<h2>Registration user <%= link_to "Go", controller: "registration_user", action: "new" %></h2>

